# pip requirements file for python 3
#
# 1) create virtualenv
#    virtualenv -p python3.10 --prompt="mf" .venv
#    # you might need to: pip3 install virtualenv
# 2) activate
#    source .venv/bin/activate
# 3) get deps
#    pip install --upgrade pip
#    pip install -r requirements.txt
#

-e .